:root {
  --color-red: #dc143c;
  --color-green: #9acd32;
  --color-blue: DeepSkyBlue;
  --text-font-family: "Roboto", sans-serif;
}

.body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: var(--text-font-family);
}

.initial-balloon {
  height: 200px;
  width: 200px;
  background-color: var(--color-red);
  border-radius: 100px;
}

.balloon-green {
  background-color: var(--color-green);
}

.balloon-blue {
  background-color: var(--color-blue);
}

.balloon-red {
  background-color: var(--color-red);
}
.hidden {
  display: none;
}

.text {
  display: flex;
  height: 400px;
  width: 400px;
  flex-direction: column;
}
