:root {
  --color-red: #dc143c;
  --color-green: #9acd32;
  --color-blue: DeepSkyBlue;
  --text-font-family: "Roboto", sans-serif;
}

.body {
  height: 100vh;
  padding: 10px;
  font-family: var(--text-font-family);
  background-color: #74cee2;
}

.header {
  text-align: center;
}

.header-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  padding: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.box-text {
  background-color: white;
  padding: 25px;
  margin-bottom: 70px;
  border-radius: 20px;
}

.subtitle {
  font-weight: 600;
  font-size: 20px;
  padding: 10px 0;
}

.instructions {
  font-size: 20px;
}

.explode-text {
  background-color: white;
  padding: 25px;
  margin-bottom: 70px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* BALLOON */
.balloon {
  height: 200px;
  width: 200px;
  background-color: var(--color-red);
  border-radius: 100px;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  left: 45%;
  top: 25%;
  animation: bubble 3s infinite;
}

.green {
  background-color: var(--color-green);
  cursor: pointer;
}

.blue {
  background-color: var(--color-blue);
  cursor: pointer;
}

.red {
  background-color: var(--color-red);
  cursor: pointer;
}

.balloon:after {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 75px;
  border: 3px solid;
  transform: rotate(37deg);
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  background: none;
  left: 50%;
  margin-left: -45px;
  top: 50%;
  margin-top: -45px;
}

.balloon:before {
  position: absolute;
  content: "";
  bottom: -25px;
  left: 57%;
  margin-left: -20px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid black;
}

.rope {
  background: black;
  width: 2px;
  height: 160px;
  left: 53%;
  margin-left: -3px;
  position: absolute;
  bottom: -90%;
  border-radius: 5px;
}

/* CLOUD */
.cloud {
  background: white;
  width: 100px;
  height: 35px;
  border-radius: 35px;
  position: absolute;
  left: 35%;
  margin-top: 200px;
  animation: cloud infinite 20s;
  box-shadow: 0 3px 5px transparentize(#3a506b, 0.4);
}

.cloud:before {
  content: "";
  height: 40px;
  width: 40px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

.cloud:after {
  content: "";
  height: 60px;
  width: 60px;
  background: white;
  position: absolute;
  bottom: 5px;
  right: 15%;
  border-radius: 50%;
}

@keyframes cloud {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bubble {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes bobble {
  0% {
    transform: rotate(0deg);
    margin: -0;
  }
  25% {
    transform: rotate(-5deg);
    margin: -15 0 0 -15px;
  }
  50% {
    transform: rotate(0deg);
    margin: 10;
  }
  75% {
    transform: rotate(5deg);
    margin: -15px -15px 0 0;
  }
  100% {
    transform: rotate(0deg);
    margin: 0;
  }
}
