:root {
  --color-red: #dc143c;
  --color-green: #9acd32;
  --color-blue: DeepSkyBlue;
  --color-sky: #74cee2;
  --text-font-family: "Roboto", sans-serif;
}

.body {
  height: 100vh;
  padding: 10px;
  font-family: var(--text-font-family);
  background-color: var(--color-sky);
}

.header {
  text-align: center;
}

.header-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  padding: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-text {
  background-color: white;
  padding: 25px;
  border-radius: 20px;
}

.subtitle {
  font-weight: 600;
  font-size: 20px;
  padding: 10px 0;
}

.instructions {
  font-size: 20px;
}

.explode-text {
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* BALLOON */
.balloon {
  height: 200px;
  width: 200px;
  background-color: var(--color-red);
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
  cursor: pointer;
  position: absolute;
  margin-top: 350px;
  animation: bubble 3s infinite;
}

@media all and (min-width: 768px) {
  .balloon {
    height: 200px;
    width: 200px;
    background-color: var(--color-red);
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
    cursor: pointer;
    position: absolute;
    margin-top: 200px;
    animation: bubble 3s infinite;
  }
}

.balloon:before {
  content: "▲";
  font-size: 20px;
  color: black;
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -12px;
  z-index: -100;
}

.balloon:after {
  display: inline-block;
  top: 102%;
  left: 50%;
  position: absolute;
  height: 250px;
  width: 1px;
  margin: 0 auto;
  content: "";
  background: rgba(0, 0, 0, 0.2);
}

/*COLORS BALLOON */
.green {
  background-color: var(--color-green);
  cursor: pointer;
}

.blue {
  background-color: var(--color-blue);
  cursor: pointer;
}

.red {
  background-color: var(--color-red);
  cursor: pointer;
}

/* CLOUD */
.cloud {
  background: white;
  width: 100px;
  height: 35px;
  border-radius: 35px;
  margin-right: 150px;
  animation: cloud infinite 20s;
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
  z-index: 100;
}

.cloud:before {
  content: "";
  height: 40px;
  width: 40px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

.cloud:after {
  content: "";
  height: 60px;
  width: 60px;
  background: white;
  position: absolute;
  bottom: 5px;
  right: 15%;
  border-radius: 50%;
}

@media all and (min-width: 768px) {
  .cloud {
    background: white;
    width: 100px;
    height: 35px;
    border-radius: 35px;
    position: absolute;
    left: 35%;
    margin-top: 200px;
    animation: cloud infinite 20s;
    box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
    z-index: 100;
  }
}

.cloudTwo {
  background: white;
  width: 100px;
  height: 35px;
  border-radius: 35px;
  margin-top: 400px;
  margin-left: 150px;
  animation: cloud infinite 20s;
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
  z-index: 100;
}

.cloudTwo:before {
  content: "";
  height: 40px;
  width: 40px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

.cloudTwo:after {
  content: "";
  height: 60px;
  width: 60px;
  background: white;
  position: absolute;
  bottom: 5px;
  right: 15%;
  border-radius: 50%;
}

@media all and (min-width: 768px) {
  .cloudTwo {
    background: white;
    width: 100px;
    height: 35px;
    border-radius: 35px;
    position: absolute;
    margin-top: 500px;
    margin-left: 250px;
    animation: cloud infinite 20s;
    box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
    z-index: 100;
  }
}

/* ANIMATIONS */

@keyframes cloud {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bubble {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
